body {
    font-family: Arial, sans-serif;
}

table, tr, td {
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}
 
h1 {
    font-size: 24px;
    color: darkblue;
    margin-bottom: 5px;
}

#spis-tresci tr td a:hover {
    text-decoration: none;
}
 
#spis-tresci a:visited {
    color: purple;
    text-decoration:none;
}
 
#spis-tresci a:active {
    color: red;
    text-decoration: none;
}
 
#spis-tresci a:focus {
    outline: none;
    text-decoration: none;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}
 
/* #jap {
    text-align: center;
} */

h2 {
    font-size: 18px;
    color: darkred;
    margin-bottom: 15px;
}
 
p {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 20px;
}
 
section {
    background-color: rgba(0, 0, 0, 0.05);
    padding: 20px;
    margin-bottom: 20px;
}